@(message: String, style: String = "scala")

@defining(play.core.PlayVersion.current) { version =>


<div id="content" class="wrapper doc">
<article>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Open source API</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <br>

  <div class="container">
    <h2 class="text-center">API REST for Open Source projects</h2>
    <h5 class="text-center">You can use the following endpoints to obtain and create open source projects and its releases</h5>
    <br>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">  <h5 class="mb-1"><b>GET</b> </h5> /projects</li>
      <br>
      <li class="list-group-item list-group-item-info"> <h5 class="mb-1"><b>GET</b> </h5> /projects/$id</li>
      <br>
      <li class="list-group-item list-group-item-info"> <h5 class="mb-1"><b>GET</b> </h5> /projects/find?name=$name</li>
      <br>
      <li class="list-group-item list-group-item-warning"> <h5 class="mb-1"><b>POST</b> </h5> /projects <small class="text-muted">Body = { "name" : "examplename" }</small></li>
      <br>
      <li class="list-group-item list-group-item-info"> <h5 class="mb-1"><b>GET</b> </h5> /projects/$projectId/releases</li>
      <br>
      <li class="list-group-item list-group-item-info"> <h5 class="mb-1"><b>GET</b> </h5> /projects/releases/$id</li>
      <br>
      <li class="list-group-item list-group-item-warning"> <h5 class="mb-1"><b>POST</b> </h5> /project/releases <small class="text-muted">Body =     {
        "version": "0.0.2",
        "link": "http://myrepo.org/version=isa002"
        }</small></li>
      <br>
    </ul>

  </div>

</article>

</div>
}
